<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name" value=""/>
    <add key="pwd" value=""/>
    <add key="rememberMe" value="false"/>
    <add key="rememberPwd" value="false"/>
    <add key="autoLogin" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="connStr" connectionString="server=.;database=WMS;integrated security=true" providerName="System.Data.SqlClient"/>
                          <!--connString = "server=.;database=xxx;uid=xxx;pwd=xxx;";//密码验证-->
                          <!--connectionString="server=.;database=WMS;integrated security=true"-->
  </connectionStrings>
</configuration>