USE [master]
GO
/****** Object:  Database [WMS]    Script Date: 05/21/2020 19:04:21 ******/
CREATE DATABASE [WMS] ON  PRIMARY 
( NAME = N'WMS', FILENAME = N'D:\Program Files\SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\WMS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WMS_log', FILENAME = N'D:\Program Files\SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\WMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMS]
GO
/****** Object:  Table [dbo].[userInfo]    Script Date: 05/21/2020 19:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPwd] [nvarchar](50) NOT NULL,
	[isAdmin] [int] NULL,
 CONSTRAINT [PK_userInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_product]    Script Date: 05/21/2020 19:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [nvarchar](50) NOT NULL,
	[productID] [nvarchar](50) NOT NULL,
	[quantity] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_order_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 05/21/2020 19:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderNum] [nvarchar](50) NOT NULL,
	[amount] [float] NOT NULL,
	[Createdate] [date] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 05/21/2020 19:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[stock] [int] NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[supplier] [nvarchar](50) NULL,
	[entry] [nvarchar](50) NULL,
	[remarks] [nvarchar](50) NULL,
	[sales] [int] NULL,
	[date] [date] NULL,
	[isDelete] [int] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_userInfo_canAdd]    Script Date: 05/21/2020 19:04:23 ******/
ALTER TABLE [dbo].[userInfo] ADD  CONSTRAINT [DF_userInfo_canAdd]  DEFAULT ((0)) FOR [isAdmin]
GO
/****** Object:  Default [DF_order_Createdate]    Script Date: 05/21/2020 19:04:23 ******/
ALTER TABLE [dbo].[order] ADD  CONSTRAINT [DF_order_Createdate]  DEFAULT (getdate()) FOR [Createdate]
GO
/****** Object:  Default [DF_Inventory_sales]    Script Date: 05/21/2020 19:04:23 ******/
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_sales]  DEFAULT ((0)) FOR [sales]
GO
/****** Object:  Default [DF_Inventory_date]    Script Date: 05/21/2020 19:04:23 ******/
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_date]  DEFAULT (getdate()) FOR [date]
GO
/****** Object:  Default [DF_Inventory_isDelete]    Script Date: 05/21/2020 19:04:23 ******/
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_isDelete]  DEFAULT ((0)) FOR [isDelete]
GO